.bg-light {
	background-color: #34495e !important;
}

.bg-dark {
	background-color: #273646 !important;
}

.bg-accent {
	background-color: #41a9f4 !important;
}

.btn-primary {
	color: #ffffff !important;
	background-color: #41a9f4 !important;
}

.btn-primary:hover {
	background-color: #0e8fec !important;
}

.alert-primary {
	background-color: #41a9f4 !important;
	border: None !important;
}

html,
body,
.full-height {
	height: 100%;
}

.btn-circle.btn-md {
	width: 70px;
	height: 70px;
	font-size: 30px;
	border-radius: 35px;
}

.btn-circle.btn-lg {
	width: 120px;
	height: 120px;
	font-size: 50px;
	border-radius: 60px;
}

.map {
	position: relative;
	width: 75%;
}

.map:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}
