.bg-light {
	background-color: #34495e !important;
}

.bg-dark {
	background-color: #273646 !important;
}

.bg-accent {
	background-color: #41a9f4 !important;
}

.btn-primary {
	color: #ffffff !important;
	background-color: #41a9f4 !important;
}

.btn-primary:hover {
	background-color: #0e8fec !important;
}

.alert-primary {
	background-color: #41a9f4 !important;
	border: None !important;
}

.map {
	height: 300px;
	width: 100%;
}

html,
body,
.full-height {
	height: 100%;
}
